.grafica{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 60%;
}

.grafica__linel{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grafica__barras{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}